@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html {
  font-size: clamp(14px, 2.5vw, 15px);
  display: flex;
  justify-content: center;
}
body {
  font-size: 1rem;
  width: 100dvw;
  /* border: 1px solid red; */
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

section {
  /* width: 100dvw; */
  max-width: 1400px;
}

@theme {
  --font-sans: "Mona Sans", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .padding-x-lg {
    @apply px-5 md:px-20;
  }

  .section-padding {
    @apply px-5 lg:px-20 md:mt-40 mt-20;
  }

  .mt-responsive {
    @apply xl:mt-20 md:mt-0 mt-40;
  }

  /* General Grids */
  .grid-base {
    @apply grid grid-cols-1;
  }

  .grid-2-cols {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  .grid-3-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6;
  }

  .grid-3-cols-md-tight {
    @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0;
  }

  .grid-4-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-7;
  }

  .grid-12-cols {
    @apply grid grid-cols-1 xl:grid-cols-12 gap-10;
  }

  .hero-wrapper {
    @apply flex flex-col h-[85vh] mt-10 lg:mt-0 lg:h-fit lg:flex-row;
  }

  .hero-layout {
    @apply relative xl:z-10  md:h-dvh h-fit flex xl:mt-8 xl:items-center items-start justify-center;
    /* @apply relative xl:z-10  md:h-dvh h-[75vh] flex xl:mt-8 xl:items-center items-start justify-center; */
    /* @apply relative xl:z-10 xl:mt-20 mt-32 md:h-dvh h-[75vh] flex xl:items-center items-start justify-center; */
  }

  .hero-text {
    @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
    img {
      @apply size-8 md:size-10 object-contain;
    }
    .slide {
      @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
  }

  .hero-badge {
    @apply bg-black-200 py-2 px-4 rounded-full w-fit text-sm md:text-base text-nowrap;
  }

  .hero-3d-layout {
    @apply w-full h-[150vh] mt-10;
    /* @apply xl:w-[70%] w-full h-[50vh] md:h-full md:min-h-[50vh] absolute xl:-top-20 top-100 md:top-70 xl:-right-20 right-0; */
  }

  .app-showcase {
    @apply w-full flex flex-col items-center justify-center;
    /* @apply border-2 border-blue-500 w-full px-5 md:px-12  lg:p-20 py-10 md:py-20 flex flex-col items-center justify-center; */
    /* @apply w-full mt-20 px-5 md:px-20 py-10 md:py-20 flex flex-col items-center justify-center; */

    .showcaselayout {
      @apply flex flex-col gap-6;
    }

    .first-project-wrapper {
      @apply w-full;

      .image-wrapper {
        @apply w-full h-[350px] md:h-[350px] lg:h-[500px] flex flex-col gap-6;

        .top-text-content {
          /* @apply w-full h-fit rounded-2xl p-0 gap-6 flex justify-between; popup from bottom */
          @apply rounded-2xl  gap-6 flex flex-col absolute w-full lg:w-[460px] h-full bottom-0 z-10 transition-all duration-400;
          /* @apply w-full h-fit rounded-2xl py-8 px-12 gap-6 flex justify-between; */

          .info-container {
            @apply w-full h-full bg-zinc-800 rounded-2xl flex items-center relative;

            .view-info-div {
              @apply bg-zinc-800  rotate-90 -ml-2 rounded-t-2xl py-1 px-3 absolute left-[100%];
            }
          }
        }
      }
    }

    .project-list-wrapper {
      @apply flex lg:flex-row flex-col gap-6 w-full;

      .project {
        /* @apply flex-auto border-2 border-green-500 md:min-w-[300px] md:max-w-[500px]; */
        /* @apply flex-auto min-w-[500px] lg:max-w-full; */

        .image-wrapper-bottom {
          @apply w-full h-[350px] md:h-[350px] lg:h-[350px] flex flex-col gap-6;

          .top-text-content-bottom {
            /* @apply w-full h-fit rounded-2xl p-0 gap-6 flex justify-between; popup from bottom */
            @apply rounded-2xl  gap-6 flex flex-col absolute w-[100%] h-full bottom-0 z-10 transition-all duration-400;
            /* @apply w-full h-fit rounded-2xl py-8 px-12 gap-6 flex justify-between; */

            .info-container-bottom {
              @apply w-full h-full bg-zinc-800 rounded-2xl flex items-center relative;

              .view-info-div-bottom {
                @apply bg-zinc-800  rotate-90 -ml-2 rounded-t-2xl py-1 px-3 absolute left-[100%];
              }
            }
          }
        }

        h2 {
          @apply font-bold text-2xl;
        }

        .image-wrapper {
          @apply h-full w-full overflow-hidden rounded-2xl;
        }
      }
    }

    .thumbnail-img-wrapper {
      @apply w-full h-full flex justify-center items-center overflow-hidden rounded-2xl;

      .thumbnail-img {
        @apply object-cover w-full h-auto;
      }
    }
  }

  .cta-wrapper {
    @apply relative z-20 cursor-pointer;
  }

  .cta-button {
    @apply px-4 py-4 rounded-lg bg-black-200 flex justify-center items-center relative cursor-pointer overflow-hidden;

    .bg-circle {
      @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 
        w-[120%] h-[120%] group-hover:size-10 group-hover:right-10
        rounded-full bg-white-50 transition-all duration-500;
    }

    .text {
      @apply uppercase md:text-base text-black transition-all duration-500
        group-hover:text-white-50 group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
    }

    .arrow-wrapper {
      @apply group-hover:bg-white-50 size-10 rounded-full absolute right-10 top-1/2 
        -translate-y-1/2 flex justify-center items-center overflow-hidden;

      img {
        @apply size-5 xl:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
      }
    }
  }

  .card-border {
    @apply border border-black-50 bg-black-100;
  }

  .marquee-item {
    @apply md:w-40 w-32;
  }

  .timeline-wrapper {
    @apply absolute top-0 h-full flex justify-center;
    /* @apply absolute top-0 xl:left-[35.5vw] md:left-10 left-5 h-full flex justify-center; */
  }

  .timeline {
    /* @apply absolute z-30 h-[100%] sm:h-[110%] -top-10 w-14 md:w-28 bg-black; */
    /* @apply absolute z-30 h-[110%] -top-10 w-14 md:w-28 bg-black; */
  }

  .timeline-logo {
    @apply md:size-20 size-14 flex-none rounded-full flex justify-center items-center;
    /* @apply md:size-20 size-10 flex-none rounded-full flex justify-center items-center md:-translate-y-7 border border-black-50 bg-black-100;  CHANGED*/
  }

  .exp-card-wrapper {
    @apply flex flex-col-reverse xl:flex-row xl:gap-20 gap-10 justify-between;
  }

  form {
    label {
      @apply block text-white-50 mb-2;
    }

    input,
    textarea {
      @apply w-full px-4 py-4 md:text-base text-sm placeholder:text-blue-50 bg-blue-100 rounded-md;
    }

    a {
      @apply w-full py-4 bg-white text-black font-semibold rounded-md flex justify-center items-center gap-2;

      img {
        @apply inline-block;
      }
    }
  }

  .footer {
    @apply my-10 md:mt-20 mt-10 text-white-50 px-5 md:px-20 xl:px-20 flex items-center justify-center;

    .footer-container {
      @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0 w-full;
    }

    p {
      @apply text-center md:text-start;
    }

    .socials {
      @apply flex items-center justify-center gap-2;

      .icon {
        @apply border border-black-50 bg-black-100 flex justify-center items-center rounded-lg size-9 md:size-9 cursor-pointer transition-all duration-500 hover:bg-black-50;
      }

      img {
        @apply inline-block;
      }
    }
  }
}

/* Hero text slider starts */
.slide {
  display: inline-block;
  /* width: fit-content; */
  flex-direction: column;
  /* transition: all linear; */
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.gradient-line {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(69, 222, 196, 0) 0%,
    #62e0ff 25%,
    #52aeff 37.51%,
    #fd5c79 62.83%,
    #6d45ce 92.91%
  );
}

.used-tech {
  border: 2px solid rgb(50, 50, 50);
  position: relative;
  overflow: hidden;
}

.used-tech::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 300%;
  height: 100%;
  left: -150%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
}

.used-tech:hover::after {
  animation: shine 1.4s forwards;
}

@keyframes shine {
  100% {
    transform: rotateZ(60deg) translate(1em, -15em);
  }
}

/* PROJECT INVERTED BORDER */

.top-icons-div::after,
.top-icons-div::before,
.bottom-icons-div::after,
.bottom-icons-div::before {
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
}

.top-icons-div::after {
  background-color: transparent;
  left: -20px;
  top: 0;
  box-shadow: 5px -5px black;
  border-top-right-radius: 10px;
}

.top-icons-div::before {
  background-color: transparent;
  right: 0;
  bottom: -20px;
  border-top-right-radius: 10px;
  box-shadow: 5px -5px black;
}

/* NAVBAR ANIMATION */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* The spinning animation */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
